body{
    display: grid;
    grid-template-areas: 
            "header"
            "content"
            "footer";
    grid-row-gap: 20px;
}

header{
    grid-area: header;
    display: grid;
    grid-template-areas: 
            "logo nav";
}

h1{
    grid-area: logo;
}

nav{
    grid-area: nav;
}

main{
    grid-area: content;
}

footer{
    grid-area: footer;
}