/* especifidad 1 */
body{
    display: grid;
    grid-template-areas: 
            "header"
            "content"
            "footer";
    grid-row-gap: 20px;
}

/* especifidad 1 */
header{
    grid-area: header;
    display: grid;
    grid-template-areas: 
            "logo navPrincipal"
            "logo navSecundario";
}

/* especifidad 1 */
h1{
    grid-area: logo;
}

/* especifidad 1 */
nav{
    grid-area: navPrincipal;
}

/* especifidad 1 */
nav:last-child {
    grid-area: navSecundario;
}

/* especifidad 1 */
main{
    grid-area: content;
}

/* especifidad 1 */
footer{
    grid-area: footer;
}