/* especifidad 1 */ 
aside > section{
    border-top: 0px;
    border-bottom: 0px;

    background-color: #00000000;

}

section > div{
    display: grid;
    place-items: center;
}

section > div > p{
    justify-self: stretch;
}
